<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSTimerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2412B811F71125B00F0E1BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2412B9A1F71125C00F0E1BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2412BA51F71125C00F0E1BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
